<body>
	<form action="/as4" method="POST">
		<div>Bay #1 Width: <input type="text" name="bay_wd_1"></div>
		<div>Bay #2 Width: <input type="text" name="bay_wd_2"></div>
		<div>Bay #3 Width: <input type="text" name="bay_wd_3"></div>
		<div>Bay #4 Width: <input type="text" name="bay_wd_4"></div>
		<div>Bay #5 Width: <input type="text" name="bay_wd_5"></div>
		<fieldset>
			<legend>Finish Type</legend>
			<div><input type="radio" name="finish" value="C" checked="true"> CRS</div>
			<div><input type="radio" name="finish" value="B"> Blackened</div>
			<div><input type="radio" name="finish" value="R"> Brass</div>
		</fieldset>
		<fieldset>
			<legend>Mounting Type</legend>
			<div><input type="radio" name="mount" value="B" checked="true"> Bars</div>
			<div><input type="radio" name="mount" value="T"> Tabs</div>
		</fieldset>
		<fieldset>
			<legend>Standard Height</legend>
			<div>Height (in): <input type="text" name="ht_dig">.
			<input type="text" name="ht_dec" value="00"></div>
		</fieldset>
		<div><input type="submit" name="Submit"></div>
	</form>
</body>
