<body>
	<form action="/gen">
		<div>Bay #1 Width: <input type="text" id="bday_wd_1"></div>
		<div>Bay #2 Width: <input type="text" id="bday_wd_2"></div>
		<div>Bay #3 Width: <input type="text" id="bday_wd_3"></div>
		<div>Bay #4 Width: <input type="text" id="bday_wd_4"></div>
		<div>Bay #5 Width: <input type="text" id="bday_wd_5"></div>
		<fieldset>
			<legend>Finish Type</legend>
			<div><input type="radio" name="finish" value="C" checked="true"> CRS</div>
			<div><input type="radio" name="finish" value="B"> Blackened</div>
			<div><input type="radio" name="finish" value="R"> Brass</div>
		</fieldset>
		<fieldset>
			<legend>Mounting Type</legend>
			<div><input type="radio" name="mount" value="B" checked="true"> Bars</div>
			<div><input type="radio" name="mount" value="T"> Tabs</div>
		</fieldset>
		<div><input type="submit" name="Submit"></div>
	</form>
</body>
